<div class="stock-inventory">
    <form [formGroup]=form (ngSubmit)=onSubmit()>
        <stock-branch [parent]="form"></stock-branch>
        <stock-selector [parent]="form" [products]=products
            (added)=addStock($event)></stock-selector>
        <stock-products [parent]="form" (removed)=removeStock($event)
            [map]="productMap">
        </stock-products>
        <div class="stock-inventory__price">
            Total: {{total | currency : 'USD'}}
        </div>
        <div class="stock-inventory__buttons">
            <button type="submit" [disabled]=form.invalid>Order Stock</button>
        </div>
    </form>
    <pre>{{form.value | json}}</pre>
</div>