<div class="d-flex flex-row flex-nowrap justify-content-around">
  <auth-form (submitted)="createUser($event)">
    <h3>Create account</h3>
    <button type="submit" class="btn btn-primary">
      Join us
    </button>
  </auth-form>
  <auth-form (submitted)="loginUser($event)">
    <h3>Login</h3>
    <auth-remember (checked)="rememberUser($event)"></auth-remember>
    <auth-remember (checked)="rememberUser($event)"></auth-remember>
    <auth-remember (checked)="rememberUser($event)"></auth-remember>
    <button type="submit" class="btn btn-primary">
      Login
    </button>
  </auth-form>
</div>