<div class="app">
  <header>
    <a routerLink="/">
      <img src="/assets/logo.svg" />
    </a>
  </header>
  <div class="app__content">
    <nav>
      <a [routerLink]="['/mail', {outlets: {primary: 'folder/inbox', pane: null}}]"
        routerLinkActive="active">
        Inbox
      </a>
      <a [routerLink]="['/mail', {outlets: {primary: 'folder/trash', pane: null}}]"
        routerLinkActive="active">
        Trash
      </a>
      <a routerLink="dashboard" routerLinkActive="active">
        Dashboard
      </a>
    </nav>
    <router-outlet></router-outlet>
  </div>
</div>
