<div [formGroup]=parent class="stock-product">
    <div formArrayName="stock">
        <div *ngFor="let item of stocks; let i = index;">
            <div class="stock-product__content" [formGroupName]="i">
                <div class="stock-product__name">
                    {{getProduct(item.value.product_id).name}}
                </div>
                <div class="stock-product__price">
                    {{getProduct(item.value.product_id).price | currency: 'USD'}}
                </div>
                <input type="number" step=10 min=10 max=1000
                    formControlName="quantity">
                <button type=button (click)="onRemove(item, i)">Remove</button>
            </div>
        </div>
    </div>
</div>